<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>N3AddressBook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>N3Contacts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1266A1FF18C0396D00B68928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1266A22018C0396E00B68928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1266A24418C03F3200B68928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1266A25118C03F3200B68928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
